## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Copy this file to local.properties and fill in the values you need.
# local.properties is gitignored.
#
# Location of the SDK. This is only used by Gradle.
sdk.dir=C\:\\Users\\you\\AppData\\Local\\Android\\Sdk
